* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:link {color: red;}
a:visited{color: rgba(19, 235, 109, 0.787);}

h2{
    color:blue !important;
    border-width: 2px;
    font-family: 
}
.claseimg1{
width: 50%;
height: 50%;
}
.clase1 { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;

}
#id1 {

}